<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magnificient</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Test fou</h1>
    <button id="clickMe">Click me</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <img src="static/images.jpg" alt="HTML5 Icon" style="width:1440px;height:1080px;"> 
    <h3><iframe width="110" height="200" src="https://www.myinstants.com/instant/fart-with-reverb-17715/embed/" frameborder="0" scrolling="no"></iframe></h3>
    <h4><a href="/about">link text</a></h4>
</body>
</html>
