<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magnificient</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Evil Genius of Gambling.org</h1>
    <div style="text-align:center">
    <button id="clickMe">Click me</button>
</div>
<div class="form-container">
  <form action="/submit" method="POST">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="John"><br>
    
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <div style="text-align:center">
        <input type="submit" value="Submit">
    </div>
  </form>
</div>
</form>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
